<pre>
{{current}}
</pre>

{{#if playcontrols}}
	{{play-button action='play' text='play'}}
	{{play-button action='pause' text='pause'}}
	{{play-button action='stop' text='stop'}}
	{{#if speedcontrols}}
		{{play-button action='slow' text='slow'}}
		{{play-button action='speed' text='speed'}}
	{{/if}}
{{/if}}
<div class='console'>
{{#if displayconsole}}
	{{play-button text=console}}
{{/if}}
</div>