{{ascii-player frames=model.solofish.frames}}
{{ascii-player frames=model.plantfish.frames}}
{{ascii-player frames=model.solofish.frames}}
{{ascii-player frames=model.plantfish.frames}}
{{ascii-player frames=model.solofish.frames}}
{{ascii-player frames=model.plantfish.frames}}
{{ascii-player frames=model.plantfish.frames}}
{{ascii-player frames=model.solofish.frames}}
{{ascii-player frames=model.solofish.frames}}
{{ascii-player frames=model.solofish.frames}}
{{ascii-player frames=model.plantfish.frames}}
{{ascii-player frames=model.solofish.frames}}
<div>{{ascii-player frames=model.plantfish.frames displayconsole=true speedcontrols=true}}</div>